name: Build

on:
  release:
    types: [ published ]
  push:
    paths:
      - "**/*.go"
      - "go.mod"
      - "go.sum"
      - ".github/workflows/*.yml"
  pull_request:
    types:
      - opened
    paths:
      - "**/*.go"
      - "go.mod"
      - "go.sum"

permissions: write-all

jobs:
  build:
    strategy:
      matrix:
        goos: [ linux ]
        goarch: [ amd64, 386 ]
        include:
          - { goos: linux, goarch: arm, goarm: 7 }
          - { goos: linux, goarch: arm, goarm: 6 }
          - { goos: linux, goarch: arm, goarm: 5 }
          - { goos: linux, goarch: arm64 }
          - { goos: linux, goarch: riscv64 }
          - { goos: linux, goarch: mips64 }
          - { goos: linux, goarch: mips64le }
          - { goos: linux, goarch: mipsle }
          - { goos: linux, goarch: mips }
      fail-fast: false

    runs-on: ubuntu-latest
    env:
      GOOS: ${{ matrix.goos }}
      GOARCH: ${{ matrix.goarch }}
      GOARM: ${{ matrix.goarm }}
      CGO_ENABLED: 0

    steps:
      - name: Checkout codebase
        uses: actions/checkout@v3

      - name: Show workflow information
        id: get_filename
        run: |
          export _NAME=$GOOS-$GOARCH$GOARM
          echo "GOOS: $GOOS, GOARCH: $GOARCH, GOARM: $GOARM, RELEASE_NAME: $_NAME"
          echo "ASSET_NAME=$_NAME" >> $GITHUB_OUTPUT
          echo "ASSET_NAME=$_NAME" >> $GITHUB_ENV

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ^1.25

      - name: Get project dependencies
        run: go mod download

      - name: Build
        run: |
          mkdir -p build_assets
          go build -v -o build_assets/go-socks5-server -trimpath -ldflags "-s -w -buildid=" .

      - name: Upload artifact
        if: github.event_name != 'release'
        uses: actions/upload-artifact@v4
        with:
          name: go-socks5-server-${{ steps.get_filename.outputs.ASSET_NAME }}
          path: build_assets/*

      - name: Create ZIP archive
        if: github.event_name == 'release'
        run: |
          pushd build_assets || exit 1
          zip -9vr ../go-socks5-server-$ASSET_NAME.zip .
          popd || exit 1

      - name: Upload release binary
        if: github.event_name == 'release'
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          gh release upload ${{ github.event.release.tag_name }} go-socks5-server-${{ steps.get_filename.outputs.ASSET_NAME }}.zip